.test-box {
    border: 2px solid darkgreen;
    margin: 20px;
    text-align: center;
    width: 100px;
    height: 100px;
    overflow: auto;
}
body {
    background: #2EB5E5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    color: aliceblue;
    text-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);    
}


#next, #prev, #close {
    color: #2EB5E5;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 45px;
}


#author {
    border: 1px solid black;
    width: 25%;
    margin: 5px 5px 5px 5px;
    text-align: center;
    background-color: bisque;
}

a {
    text-decoration: none;
    display: inline-block;
}

.dog-card {
    max-width: 85%;
    margin: auto;
    margin-top: 200px;
}

.full-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img{
    width: 90%;
    max-width: 30em;
}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.photo {
    transition: scale 1s;
    transition: rotate 0.5s;
    cursor: pointer;
}

.photo:hover, .photo:active {
    scale: 150%;
    rotate: 360deg;
}

.rotate:hover, .rotate:active {
    transform: none;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.intro {
    color: rgb(250, 253, 255);
    font-size: 1.5em;
}
.glass {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px); /* webkit for safari browser */
    border: 1px solid rgba(255, 255, 255, 1);
}

.glass-sheep {
    background: rgba(0, 118, 182,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px); /* webkit for safari browser */
    border: 1px solid rgba(255, 255, 255, 1);
}

.glass-biscuit {
    background:    rgba(243, 67, 54,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px); /* webkit for safari browser */
    border: 1px solid rgba(255, 255, 255, 1);
}

.glass-chocolate {
    background: rgba(139, 194, 74,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px); /* webkit for safari browser */
    border: 1px solid rgba(255, 255, 255, 1);
    overflow: hidden;
}

.sheep-font {
    color: rgb(17, 17, 17);
    /* -webkit-text-stroke: 0.3px black; */
    font-size: 1.1em;
    padding-left: 5px;
}

.biscuit-font {
    color: rgb(17, 17, 17);
    /* -webkit-text-stroke: 0.3px black; */
    font-size: 1.1em;
    padding-left: 5px;
}

.chocolate-font {
    color: rgb(17, 17, 17);
    /* -webkit-text-stroke: 0.3px black; */
    font-size: 1.1em;
    padding-left: 5px;
}

.cloud, .cloud_two{
  z-index: -1;
  opacity: 0.7;
  animation: move 6s ease infinite;
  border-radius:50%;
  position: fixed;
  top: 50%; left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background: #FFFFFF;
  height: 60px; width: 60px;
  box-shadow:
		#FFFFFF 65px -15px 0 -5px, 
		#FFFFFF 25px -25px, 
		#FFFFFF 30px 10px, 
		#FFFFFF 60px 15px 0 -10px, 
		#FFFFFF 85px 5px 0 -5px;
}

.cloud_two{
	top: 52%; left: 31%;
  animation-duration: 8s;
}

@keyframes move{
  50% { transform: translateY(-15px); }
}

