
body {
    /* background-image: url(./images/cygany-mapa.jpg); */
    /* background-image: url(".cloud"), url(".cloud_two"); */
    background: #2EB5E5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    color: aliceblue;
    text-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
    
    
}

img:hover, img:active {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}

#author {
    border: 1px solid black;
    width: 25%;
    margin: 5px 5px 5px 5px;
    text-align: center;
    background-color: bisque;
}

a {
    text-decoration: none;
    display: inline-block;
}

.photo {
    transition: scale 1s;
    transition: rotate 0.5s;
}

.photo:hover, .photo:active {
    scale: 150%;
    rotate: 360deg;
}

.intro {
    color: aliceblue;
    font-size: 1.5em;
}

.glass {
    background: rgba(255, 255, 255, 0.06);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.3px);
-webkit-backdrop-filter: blur(2.3px);
border: 1px solid rgba(255, 255, 255, 1);
/* z-index: 3; */
}

.glass-sheep {
    background:     rgba(0, 118, 182,0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.3px);
-webkit-backdrop-filter: blur(2.3px);
border: 1px solid rgba(255, 255, 255, 1);
}

.glass-biscuit {
    background:    rgba(243, 67, 54,0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.3px);
-webkit-backdrop-filter: blur(2.3px);
border: 1px solid rgba(255, 255, 255, 1);
}

.glass-chocolate {
    background:    rgba(139, 194, 74,0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.3px);
-webkit-backdrop-filter: blur(2.3px);
border: 1px solid rgba(255, 255, 255, 1);
}

.sheep-font {
    color: rgb(17, 17, 17);
    /* -webkit-text-stroke: 0.3px black; */
    font-size: 1.1em;
    padding-left: 5px;
}

.biscuit-font {
    color: rgb(17, 17, 17);
    /* -webkit-text-stroke: 0.3px black; */
    font-size: 1.1em;
    padding-left: 5px;
}

.chocolate-font {
    color: rgb(17, 17, 17);
    /* -webkit-text-stroke: 0.3px black; */
    font-size: 1.1em;
    padding-left: 5px;
}

.cloud, .cloud_two{
  /* z-index: 1; */
  animation: move 6s ease infinite;
  border-radius:50%;
  position: absolute;
  top: 50%; left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background: #FFFFFF;
  height: 60px; width: 60px;
  box-shadow:
		#FFFFFF 65px -15px 0 -5px, 
		#FFFFFF 25px -25px, 
		#FFFFFF 30px 10px, 
		#FFFFFF 60px 15px 0 -10px, 
		#FFFFFF 85px 5px 0 -5px;
}

.cloud_two{
	top: 52%; left: 31%;
  animation-duration: 8s;
}

@keyframes move{
  50% { transform: translateY(-15px); }
}
